<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-light text-center text-lg-start border-top mt-5 shadow-sm">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-start">
                    <h5 class="text-uppercase fw-bold text-danger">Wanderslust</h5>
                    <p>
                        &copy; <%= new Date().getFullYear() %> Wanderslust. All rights reserved.<br>
                        Find your next adventure with us!
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-end">
                    <a href="/about" class="text-decoration-none text-secondary me-3">About</a>
                    <a href="/contact" class="text-decoration-none text-secondary me-3">Contact</a>
                    <a href="https://github.com/puffyin69" target="_blank" class="text-decoration-none text-secondary"><i class="fa-brands fa-github"></i></a> &nbsp; &nbsp; 
                    <a href="https://www.linkedin.com/in/kirtan007" target="_blank" class="text-decoration-none text-secondary"><i class="fa-brands fa-linkedin"></i></a>  &nbsp; &nbsp; 
                    <a href="https://www.instagram.com/kirtan.p.v.t/" target="_blank" class="text-decoration-none text-secondary"><i class="fa-brands fa-square-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>