<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            Error
            <li><%=err.message%></li>
            <li><%=err.stack%></li>
          </div>
    </div>


  
</body>

